<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Concesionario de alquileres</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{../../static/css/styles.css}" rel="stylesheet">
</head>
<body style="padding: 10px">
<div class="jumbotron">
    <div class="container text-center">
        <h1>Alquileres ocasion</h1>
    </div>
</div>
<nav class="navbar navbar-inverse">

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li>
                <a class="btn btn-success mb-2" style="color: white" th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/alquilar/}">Alquilar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/coches/mostrar}">Coches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/alquileres/}">Alquileres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/coches/agregar}">Agregar Coche</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="col-12">
        <h2>Editar coche </h2>
        <form th:object="${coche}" th:action="@{/coches/editar/} + ${coche.id}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="marca">Marca de coche</label>
                <input autocomplete="off" autofocus th:field="*{marca}" id="marca"
                       placeholder="Escribe la marca del coche" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('marca')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{marca}"></div>
            </div>
            <div class="form-group">
                <label for="matricula">Matricula</label>
                <input autocomplete="off" th:field="*{matricula}" id="matricula" placeholder="Escribe la matricula del coche"
                       type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('matricula')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{matricula}"></div>
            </div>
            <div class="form-group">
                <label for="existencia">Existencia actual</label>
                <input autocomplete="off" th:field="*{existencia}" id="existencia"
                       placeholder="Cantidad actual del producto" type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('existencia')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{existencia}"></div>
            </div>
            <div class="form-group">
                <label for="existencia">Precio</label>
                <input autocomplete="off" th:field="*{precio}" id="precio" placeholder="Precio de la mensualidad"
                       type="number"
                       class="form-control" th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{precio}"></div>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-warning" th:href="@{/coches/mostrar}">Ver todos</a>
        </form>
    </div>
</main>
<footer class="px-2 py-2 fixed-bottom bg-dark" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            const menu = document.querySelector("#menu"),
                botonMenu = document.querySelector("#botonMenu");
            if (menu) {
                botonMenu.addEventListener("click", () => menu.classList.toggle("show"));
            }
        });
    </script>
</footer>
</body>
</html>